.userinfo {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;


    .user {
        display: flex;
        align-items: center;
        gap: 20px;

        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;

        }
    }

    .icons {
        display: flex;
        gap: 20px;

        img {
            width: 20px;
            height: 20px;
            cursor: pointer;
        }

        button {
            background-color: rgba(213, 45, 45, 0.509);
            color: white;
            font-weight: bolder;
            padding: 10px 15px;
            border: none;
            border-radius: 10px;
            cursor: pointer;

            &:hover {
                background-color: rgba(213, 45, 45, 0.904);
            }

            /* &.logout {
                background-color: #3368f092;

                &:hover {
                    background-color: #3369f0;
                }
            } */
        }
    }
}

@media screen and (min-width: 992px) {
    .userinfo {
        padding: 10px;

        .user {
            gap: 10px;
        }
    }

}